<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About New Page</title>
</head>
<body>
	
	<section>
	
		<h2>This is new about section</h2>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perferendis iste eligendi corporis
		 	minima vel quos sequi quo ipsa ex aliquam eius consequatur accusantium magni quidem adipisci error
		  	repudiandae magnam.
		</p>
	
	</section>
</body>
</html>