<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Condition</title>
</head>
<body>
		<h1>This is Condition Statment </h1>
		<h1>User is 
		<span th:style="${isActive} ? 'color:green' : 'color:red' "
		 th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE' "></span></h1>
		 
		 <h1 th:if="${gender} == 'M'">Male</h1>
		 <h1 th:unless="${gender} == 'M'">Female</h1>
		 
		 <div th:switch="${#lists.size(list)}">
		 	<h1 th:case="'0'">List Contain Zero Element</h1>
		 	<h1 th:case="'1'">List Contain One Element</h1>
		 	<h1 th:case="*">List contain more then one Element</h1>	 
		 </div>
</body>
</html>