<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
	
</head>
<body>
	<div class="container">
	
		<img src="" class="profile" th:src="@{/image/profile.jpg}" />
	
		<h1>Adding Css , Javascript and Image in thymeleaf</h1>
	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quis odio commodi animi 
		   maxime voluptate nesciunt. Quidem asperiores ullam exercitationem fuga voluptatum esse ipsa facilis.
		   Aut aspernatur dolorum et atque sequi suscipit labore doloremque non in commodi saepe porro totam illo 
		   vero consequuntur quasi delectus molestias fugit fuga quas asperiores.</p>
		   
		</div>
		
		<script th:src="@{/js/myjs.js}"></script>
	
</body>
</html>